################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSA/DSA/bin/Debug/net10.0
/DSA/.vs/DSA.slnx
